{% load crispy_forms_tags %}
<div>
    <div class="row mt-4">
        <div class="col-md-4">
            <div class="card">
                <div class="card-header">
                    Make Request
                </div>
                <div class="card-body">
                    <form method="POST">
                        {% csrf_token %}
                        {{ form|crispy }}
                        <input class="btn  btn-block" type="submit" value="Realizar pedido" style="background-color: #FFC600">
                    </form>
                </div>
            </div>
        </div>
        <div class="col-md-8">
            <div class="card">
                <div class="card-header">
                    Ordenes
                </div>
                <div class="card-body">
                    <table class="table bg-white">
                        <thead class="text-dark"style="background-color: #FFC600">
                            <tr>
                                <th scope="col">Producto</th>
                                <th scope="col">Categoria</th>
                                <th scope="col">Cantidad</th>
                                <th scope="col">Fecha</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for order in orders %}
                            {%if order.staff == user%}
                            <tr>
                                <td>{{ order.product.name }}</td>
                                <td>{{ order.product.category }}</td>
                                <td>{{ order.order_quantity }}</td>
                                <td>{{ order.date|date:"d-m-Y" }}</td>
                            </tr>
                            {%endif%}
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>